@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin columnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin rowStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
